<ion-view view-title="{{vm.viewTitle}}" class="Scan-Items">
	<ion-nav-buttons side="right">
		<span ng-if="!vm.scanSettings.set">
			<a ng-if="!vm.scanSettings.set" class="button button-icon icon ion-checkmark" ng-click="vm.confirmScanSettings()" ng-disabled="vm.scanSettingsForm.$invalid"></a>
		</span>
        <span ng-if="vm.scanSettings.set">
        	<a class="button button-icon icon ion-gear-a" ng-click="vm.showScanSettings()"></a>
    	</span>
    </ion-nav-buttons>
  	<ion-content ng-show="vm.render">
        <!-- <input ng-if="vm.manualScan" type="text" name="barcode" placeholder="Enter Barcode" ng-model="vm.barcode" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"> -->
        <!-- Room Item List -->
  		<div ng-if="vm.scanSettings.set">
    		<ion-list class="modal-item">

                <!-- In Room -->
                <div class="item item-divider">
                    In Room
                </div>
                <ion-item ng-if="!vm.items.inRoom.length">
                    <h2>No items in room</h2>
                </ion-item>
                <ion-item ng-repeat="item in vm.items.inRoom" class="item-icon-right" ng-click="vm.editItem(item)">
                    <h2>{{ item.barcode }}</h2>
                    <i ng-if="item.scanned" class="icon ion-checkmark-circled"></i>
                </ion-item>

                <!-- In Wrong Room -->
                <div ng-if="vm.items.inWrongRoom.length" class="item item-divider">
                    In Wrong Room
                </div>
                <ion-item ng-repeat="item in vm.items.inWrongRoom" ng-click="vm.editItem(item)">
                    <h2>{{ item.barcode }}</h2>
                </ion-item>

                <!-- New Items -->
                <div ng-if="vm.items.newItems.length" class="item item-divider">
                    New Items
                </div>
                <ion-item ng-repeat="item in vm.items.newItems" class="item-icon-right" ng-click="vm.editItem(item)">
                    <h2>{{ item.barcode }}</h2>
                    <i ng-if="item.scanned" class="icon ion-checkmark-circled"></i>
                </ion-item>
            </ion-list>
    	</div>
        <!-- Set Scan Settings -->
    	<div ng-if="!vm.scanSettings.set">
    		<form name="vm.scanSettingsForm" novalidate>
	            <ion-list>

	                <!-- Department -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Department</h2>
                        <select ng-options="department.name for department in vm.departments" ng-model="vm.scanSettings.department" ng-change="vm.setScanSettingDepartment(vm.index.department)" ng-required="true"></select>
                    </label>

	                <!-- Building -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Building</h2>
                        <select ng-options="building.name for building in vm.buildings" ng-model="vm.scanSettings.building" ng-change="vm.setScanSettingBuilding()" ng-required="true" ng-disabled="!vm.scanSettings.department"></select>
                    </label>

	                <!-- Room -->
                    <label class="item item-select item-input">
                        <h2 class="input-label">Room</h2>
                            <select ng-options="room.number for room in vm.rooms" ng-model="vm.scanSettings.room" ng-required="true" ng-disabled="!vm.scanSettings.building"></select>
                    </label>

	                <!-- Scan Type -->
	                <label class="item item-input item-select">
	                    <h2 class="input-label">Scan Type</h2>
	                    <select ng-model="vm.scanSettings.scanType" ng-required="true" >
	                        <option>Single Item</option>
	                        <option>Batch</option>
	                    </select>
	                </label>

	            </ion-list>
	        </form>
	    </div>
  	</ion-content>
  	<ion-footer-bar ng-if="vm.scanSettings.set && vm.scanSettings.scanType == 'Batch'">
  		<button class="button button-full button-positive scan-btn" ng-click="vm.startScan()">Scan</button>
	</ion-footer-bar>
</ion-view>

