<ion-list class="results">
		<ion-item class="item-divider">
    		Results
  		</ion-item>
  		<a class="item item-icon-left item-icon-right" ng-click="vm.toggleItemTypeOpen('test')">
		    <i class="icon ion-monitor"></i>
		    <h2>Computers</h2>
		    <p>Count: 12</p>
		    <i class="icon" ng-class="vm.accordion.isOpen ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
		</a>
		<ion-item class="accordion" ng-class="{ 'hidden': !vm.accordion.isOpen }">
            <p>Computer 1</p>
        </ion-item>
        <ion-item class="accordion" ng-class="{ 'hidden': !vm.accordion.isOpen }">
            <p>Computer 2</p>
        </ion-item>
        <ion-item class="accordion" ng-class="{ 'hidden': !vm.accordion.isOpen }">
            <p>Computer 3</p>
        </ion-item>
		<a class="item item-icon-left item-icon-right"  href="#">
		    <i class="icon ion-ios-pricetag-outline"></i>
		    <h2>Desks</h2>
		    <p>Count: 5</p>
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" href="#">
		    <i class="icon ion-compose"></i>
		    <h2>White Boards</h2>
		    <p>Count: 3</p>
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
	</ion-list>