<ion-modal-view class="Items-Modal">

    <!-- Header Bar -->
    <ion-header-bar ng-click="vm.hideItems()">
        <div class="items">
        	<span>Items</span>
  			<i class="icon ion-ios-arrow-down"></i>
  		</div>
    </ion-header-bar>

    <!-- Content -->
    <ion-content>
            <ion-list class="modal-item">
            	<div class="item item-divider">
					In Room
				</div>
            	<ion-item ng-repeat="item in vm.modal.items" ng-click="vm.editItem()">
                    <h2>{{ item.name }}</h2>
                </ion-item>
                <div class="item item-divider">
					In Wrong Room
				</div>
            	<ion-item ng-repeat="item in vm.modal.items" ng-click="vm.editItem()">
                    <h2>{{ item.name }}</h2>
                </ion-item>
                <div class="item item-divider">
					New Items
				</div>
            	<ion-item ng-repeat="item in vm.modal.items" ng-click="vm.editItem()">
                    <h2>{{ item.name }}</h2>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-modal-view>