<ion-modal-view class="Items-Modal">

    <!-- Header Bar -->
    <ion-header-bar ng-click="vm.hideItems()">
        <div class="items">
        	<span>Items</span>
  			<i class="icon ion-ios-arrow-down"></i>
  		</div>
    </ion-header-bar>

    <!-- Content -->
    <ion-content>
            <ion-list class="modal-item">

                <!-- In Room -->
            	<div class="item item-divider">
					In Room
				</div>
                <ion-item ng-if="!vm.items.inRoom.length">
                    <h2>No items in room</h2>
                </ion-item>
            	<ion-item ng-repeat="item in vm.items.inRoom" class="item-icon-right" ng-click="vm.editItem(item)">
                    <h2>{{ item.barcode }}</h2>
                    <i ng-if="item.scanned" class="icon ion-checkmark-circled"></i>
                </ion-item>

                <!-- In Wrong Room -->
                <div ng-if="vm.items.inWrongRoom.length" class="item item-divider">
					In Wrong Room
				</div>
            	<ion-item ng-repeat="item in vm.items.inWrongRoom" ng-click="vm.editItem(item)">
                    <h2>{{ item.barcode }}</h2>
                </ion-item>

                <!-- New Items -->
                <div ng-if="vm.items.newItems.length" class="item item-divider">
					New Items
				</div>
            	<ion-item ng-repeat="item in vm.items.newItems" ng-click="vm.editItem(item)">
                    <h2>{{ item.barcode }}</h2>
                </ion-item>
                
            </ion-list>
    </ion-content>
</ion-modal-view>