.Menu ion-item:hover {
	cursor: pointer;
}

.Scan-Items ion-footer-bar:hover {
	cursor: pointer;
}

.Scan-Items .items {
	width: 100%;
	bottom: 10px;
	line-height: 32px;
	position: relative;
	font-size: 17px;
	text-align: center;
}

.Scan-Items .items .ion-ios-arrow-up {
	display: block;
	height: 17px;
	font-size: 32px;
}

.Items-Modal ion-header-bar:hover {
	cursor: pointer;
}

.Items-Modal .items {
	width: 100%;
	bottom: 10px;
	line-height: 27px;
	position: relative;
	font-size: 17px;
	text-align: center;
}

.Items-Modal .items .ion-ios-arrow-down {
	display: block;
	height: 17px;
	font-size: 32px;
}

.View-Items .results div {
	margin-top: 25px;
}

/* Animate the inner content when the content is clicked */
.View-Items .accordion {
    transition: all 0.09s linear;
} .View-Items .accordion.no-animate {
    transition: none;
}

/* The properties to animate for the inner content (see above) */
.View-Items .hidden {
    height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}