.Menu ion-item:hover {
	cursor: pointer;
}

.Scan-Items ion-footer-bar {
	padding: 0;
}

.Scan-Items .scan-btn {
	margin: 0;
	font-size: 18px;
	font-weight: 600;
}

.Scan-Items .ion-checkmark-circled {
	color: #009A44;
}

/* Place the content at the bottom of its parent content */
.Menu .scroll, .Scan-Settings .scroll {
    height: 100%;
} .Menu .button-bottom, .Scan-Settings .button-bottom {
    position: absolute;
    bottom: 0;
    font-weight: 600;
}

.Scan-Settings .item-note, .Edit-Item .item-note {
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    color: #444444;
}

.Scan-Items select, .Search-Items select, .Edit-Item select, .New-Item select {
    font-size: 16px;
    color: #444444;
}

.Scan-Items select:disabled, .Edit-Item select:disabled {
	pointer-events: none;
}

.Edit-Item select:disabled{
    z-index: 1;
    padding-right: 16px;
}

.Edit-Item .item .parent-not-set {
    z-index: 0;
}

.Edit-Item .item-input input {
    text-align: right;
    font-size: 16px;
    color: #444444;
}

.Edit-Item .item-input input:disabled {
    background-color: transparent;
}

.Edit-Item .item-input textarea {
    background-color: transparent;
    font-size: 16px;
    color: #444444;
}

.Edit-Item .item-input textarea:disabled {
    background-color: transparent;
}

.Edit-Item .non-editable-field {
	background-color: #f5f5f5;
}

.Edit-Item .non-editable-field span, .Edit-Item .non-editable-field h2 {
	color: #6d6d6d;
}

/* Animate the inner content when the content is clicked */
.Scan-Items .accordion, .View-Items .accordion {
    transition: all 0.09s linear;
} .Scan-Items .accordion.no-animate, .View-Items .accordion.no-animate {
    transition: none;
}

/* The properties to animate for the inner content (see above) */
.Scan-Items .hidden, .View-Items .hidden {
    height: 0;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

/* Place the content at the bottom of its parent content */
.Search-Items .scroll {
    height: 100%;
} .Search-Items .search {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
}

